<div class="container">
        <div class="row">
                <div class="col-12"><label for="pdf-name">PDF Name:</label></div>
            </div>
            <div class="row">
                <div class="col-12"><input id="pdf-name" ng-model="vm.pdfName"/></div>            
            </div>
            <div class="row">
        <div class="col-12"><label for="pdf-text">PDF Text:</label></div>
    </div>
    <div class="row">
        <div class="col-12"><textarea id="pdf-text" ng-model="vm.pdfText"></textarea></div>            
    </div>
    <div class="row">
        <div class="col-12"><button class="btn btn-success" ng-click="vm.submit()">Submit</button></div>
    </div>
</div>